
/* ------------------------------------------------------------------------------
	Colors definitions
-------------------------------------------------------------------------------*/
$white: #fff;
$black: #000;
$grey-dark: #343434;
$grey-light: #343434;
$turkiz: #1ABC9C;
$orange: #f56857;


/* ------------------------------------------------------------------------------
	fonts definitions
-------------------------------------------------------------------------------*/
$font-source:'Source Sans Pro', sans-serif;
$font-jura:'Jura', sans-serif;
$font-lato:'Lato', sans-serif;
$font-roboto:'Roboto', sans-serif;
$font-arial:'Arial';


/* ------------------------------------------------------------------------------
	Global Styles
-------------------------------------------------------------------------------*/
body {
	// font-family: "Open Sans", Arial, sans-serif;
	font-family: $font-source, sans-serif;
	font-weight: 400;
	color: #6c7279;
}
a {
	color: $turkiz;
}
a:hover, a:focus {
	text-decoration: none;
	transition: background-color, color, 0.3s;
}
ul, ol {
	margin: 0;
	padding: 0;
}
ul li {
	list-style: none;
}

.section {
	padding: 100px 0;
}
.no-padding {
	padding: 0;
}
.no-gutter [class*=col-] {
	padding-right: 0;
	padding-left: 0;
}
.space {
	margin-top: 60px;
}
.backgound-grey {
  background-color: #eef1f2;
}


/* ------------------------------------------------------------------------------
	Typography
-------------------------------------------------------------------------------*/
p {
	font-size: 14px;
	line-height: 22.4px;
	color: #6c7279;
}
h1 {
	font-size: 65px;
	color: #2d3033;
}
h2 {
	font-size: 40px;
	color: #2d3033;
}
h3 {
	font-size: 28px;
	color: #2d3033;
	font-weight: 300;
}
h4 {
	font-size: 22px;
	color: #2d3033;
	font-weight: 400;
}
h5 {
	font-size: 14px;
	color: #2d3033;
	text-transform: uppercase;
	font-weight: 700;
}

/* ------------------------------------------------------------------------------
	Buttons
-------------------------------------------------------------------------------*/
.btn {
	background-color: $turkiz;
	color: #fff;
	font-size: 16px;
	font-weight: 600;
	border: 0;
	border-radius: 2px;
	display: inline-block;
	text-transform: uppercase;
	border: 1px solid $turkiz;
}
.btn:hover, .btn:focus {
	background-color: transparent;
	color: $turkiz;
}
.btn-large {
	padding: 15px 40px;
}

.btn-ultra {
    background: #fff;
    border: 4px solid #fff;
    border-radius: 0;
    box-shadow: none;
    color: $turkiz;
    font-weight: 700;
    padding: 18px 45px;
    min-width: 380px;
    font-size: 24px;
    margin: 0 40px;
    -webkit-font-smoothing: antialiased;
    transition: all .25s;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0) scale(1,1);
}

.btn-ultra:hover {
    background: transparent;
    border: 4px solid #fff;
    color: #fff;
    padding: 30px 50px;
    margin-top: -12px;
    margin-bottom: -12px
}

.btn-ultra em {
    font-style: italic;
    font-size: 16px;
    font-weight: 400;
}


.btn-ultra-white {
    background: $turkiz;
    border: 4px solid $turkiz;
    color: $white;
}

.btn-ultra-white:hover {
    background: transparent;
    border: 4px solid $turkiz;
    color: $turkiz;
}


/* ------------------------------------------------------------------------------
	All Sections
-------------------------------------------------------------------------------*/
.space {
	padding: 20px 0;
}

.lead {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.4;
}
@media (min-width: 768px) {
  .lead {
    font-size: 21px;
  }
}
