<!doctype html>
<html lang="en">
  <head>
    <%- include('head') %>
  </head>
  <body>
    <div id="scrollToTop"></div>

    <%- include('sections/section-header') %>

    <%- include('sections/section-intro') %>

    <%- include('sections/section-services') %>

    <script src="dist/vendor/js/jquery.min.js"></script>
    <script src="dist/vendor/js/bootstrap.min.js"></script>
    <script src="dist/vendor/js/jquery.flexslider-min.js"></script>
    <script src="dist/vendor/js/jquery.fancybox.pack.js"></script>
    <script src="dist/vendor/js/wow.js"></script>
    <script src="dist/vendor/js/jquery.backstretch.min.js"></script>
    <script src="dist/vendor/vegas/vegas.js"></script>
    <script src="dist/main.js"></script>
    <script src="dist/es6-bundle.js"></script>
  </body>
</html>
