
<!-- header section -->
<section class="banner" role="banner">
  <header id="header">
    <div class="header-content clearfix"> <a class="logo" href="index.html"><img  src="dist/img/logos/logo-collage.png" alt="logo"></a>
      <nav class="navigation" role="navigation">
        <ul class="primary-nav">
          <li><a href="#scrollToTop">Home</a></li>
          <li><a href="#services">Services</a></li>
          <li><a href="#detailed">Detailed</a></li>
          <li><a href="#features">features</a></li>
          <li><a href="#contact" class="highlight">Contact</a></li>
        </ul>
      </nav>
      <a href="#" class="nav-toggle">Menu<span></span></a> </div>
  </header>
  <div class="container" >
    <div class="col-md-10 col-md-offset-1">
      <div class="banner-text text-center">

        <h1>
          <strong>Control Your Brand, </strong><br />
          Sell More Product.
        </h1>
        <p>
          Accelerate conversions by giving consumers the rich product<br />
           information they need to make informed purchase decisions.
        </p>
        <a href="#" class="btn-ultra">
          $10 / Month <em>for</em> Individuals
        </a>

       </div>
    </div>
  </div>
</section>
