
<!-- section Welcome start -->
<!-- <section class="hero-caption secPadding ">
  <div class="container">
    <div class="row " style="margin-top: 0px;">
      <div class="col-sm-12">
        <h2>welcome to <strong>EXCELL</strong> - <span>Ideas</span>, run and grow your business.</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure aperiam consequatur quo.
           Sed quis tortor magna. Maecenas hendrerit feugiat pulvinar. Aenean condimentum quam eu
            ultricies cursus.  Nulla facilisi. In hac habitasse platea dictumst. Ut nec tellus neque.
             Sed non dui eget arcu elementum facilisis.
         </p>
      </div>
    </div>
  </div>
</section> -->
<!-- section end -->



<section id="intro" class="section backgound-grey">
  <div class="container  wow fadeInLeft animated">
    <!-- <h1 class="text-center">Services</h1>
    <p class="lead text-center">We're here to help make your life easier.</p>
    <div class="space"></div> -->

    <!-- intro section content -->
    <div class="row">

      <div class="col-xs-12">
        <div class="service text-center">
					<h2 style="line-height: 60px;">Pairs with the zero-downtime power of <a href="#">Envoyer</a> like fine wine and cheese. Or Kirk and Spock.</h2>

					<h3>
            <img src="#" width="200px" height="300px"/><br />
						<a href="#">
							Learn More About Envoyer
							<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="svg-chevron-icon"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"></path></svg>
      			</a>
					</h3>

          <a href="#" class="btn-ultra btn-ultra-white">
            $10 / Month <em>for</em> Individuals
          </a>

        </div>
      </div>

    </div>
    <!-- end intro section content -->
  </div>
</section>
