
<section id="services" class="section">
  <div class="container  wow fadeInLeft animated">
    <h1 class="text-center">Services</h1>
    <p class="lead text-center">We're here to help make your life easier.</p>
    <div class="space"></div>

    <!-- services section content -->
    <div class="row">

      <div class="col-sm-6 col-md-4">
        <div class="service text-center">
          <div class="service-icon">
            <i class="fa fa-laptop"></i>
          </div>
          <div class="service-content">
            <h3 class="">Web Design</h3>
            <p>Dolor sit amet, consectetur adipisicing elit. Iure aperiam consequatur placeat.</p>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4">
        <div class="service text-center">
          <div class="service-icon">
            <i class="fa fa-laptop"></i>
          </div>
          <div class="service-content">
            <h3 class="">Web Design</h3>
            <p>Dolor sit amet, consectetur adipisicing elit. Iure aperiam consequatur placeat.</p>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4">
        <div class="service text-center">
          <div class="service-icon">
            <i class="fa fa-laptop"></i>
          </div>
          <div class="service-content">
            <h3 class="">Web Design</h3>
            <p>Dolor sit amet, consectetur adipisicing elit. Iure aperiam consequatur placeat.</p>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4">
        <div class="service text-center">
          <div class="service-icon">
            <i class="fa fa-laptop"></i>
          </div>
          <div class="service-content">
            <h3 class="">Web Design</h3>
            <p>Dolor sit amet, consectetur adipisicing elit. Iure aperiam consequatur placeat.</p>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4">
        <div class="service text-center">
          <div class="service-icon">
            <i class="fa fa-laptop"></i>
          </div>
          <div class="service-content">
            <h3 class="">Web Design</h3>
            <p>Dolor sit amet, consectetur adipisicing elit. Iure aperiam consequatur placeat.</p>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4">
        <div class="service text-center">
          <div class="service-icon">
            <i class="fa fa-laptop"></i>
          </div>
          <div class="service-content">
            <h3 class="">Web Design</h3>
            <p>Dolor sit amet, consectetur adipisicing elit. Iure aperiam consequatur placeat.</p>
          </div>
        </div>
      </div>

    </div>
    <!-- end services section content -->
  </div>
</section>
