
<!-- contact section -->
<section id="contact" class="section backgound-grey contact">
  <div class="wow fadeIn animated">
    <h1 id="about" class="title text-center">Contact</span></h1>
    <p class="lead text-center">We're here to help make your life easier.</p>
    <div class="space"></div>
  </div>
  <form method="post" action="index.php">

    <label>Name</label>
    <input name="name" placeholder="Type Here">

    <label>Email</label>
    <input name="email" type="email" placeholder="Type Here">

    <label>Message</label>
    <textarea name="message" placeholder="Type Here"></textarea>

    <button id="submit" name="submit" type="submit" value="Submit" class="btn-ultra">Submit</button>
  </form>


  <!-- ajax test -->
  <button class="btn" id="ajax-btn">Click here for ajax</button>
  <div class="container" id="ajax-test">

  </div>
</section>
