.test {
	color: #fff;
}
/* ------------------------------------------------------------------------------
	Header
-------------------------------------------------------------------------------*/
#header {
	position: fixed;
	width: 100%;
	z-index: 999;
	background: transparent;
	// background: rgba(255, 255, 255, 0.35);


	.header-content {
		margin: 0 auto;
		max-width: 1170px;
		padding: 60px 0;
		width: 100%;
		// -moz-transition: padding 0.3s;
		// -o-transition: padding 0.3s;
		// -webkit-transition: padding 0.3s;
		transition: padding 0.3s;
	}
	.logo {
		float: left;
		font-size:24px;
		font-weight:700;
		color: #000;
		text-decoration:none;
		text-transform:uppercase;
		letter-spacing:7px;
	}
	&.fixed {
		background-color: rgba(97, 97, 97, 0.9);

		a {
			color: #fff;
		}

		a:hover, a:active {
			color: $orange;
		}

		.header-content {
			border-bottom: 0;
			padding: 25px 0;
		}
		.nav-toggle {
			top: 18px;
			color: #000;
		}
	}
}



/* ------------------------------------------------------------------------------
	Banner
-------------------------------------------------------------------------------*/
.banner {
	background: url(../dist/img/backs/banner.jpg) $turkiz;
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 1050px;
}

.banner-text {
	padding-top: 30%;
	h1 {
		color: #fff;
		font-family: "Lato", Arial, sans-serif;
		font-size: 36px;
		font-weight: 700;
		text-transform: uppercase;
	}

	p {
	 color: #fff;
	 font-size: 16px;
	 font-weight: 400;
	 line-height: 24px;
	 margin-top: 30px;
	 margin-bottom: 80px;
 }
}
